<div class ="container text-center">
<h1>About page</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor tempora ut voluptas labore vel. Temporibus at atque, laboriosam veritatis ratione doloremque quos excepturi error et nesciunt! Placeat reprehenderit corporis autem.
</p>
</div>